html, body {
	height: 100%;
	color: #F1FFFF;
	font-family: 'Open Sans', sans-serif;
}

a:hover
{
	color: #539DC2;
}

.content, .container, .span9{
    min-height:100%;
}

#front{
	background-color: #35586C;
}

#selfportrait > img
{
	width: 280px;
	height: 300px;
	border-radius: 100px;
}

#greeting > h1
{
	font-size: 3.3em;
	padding-bottom: 0.2em;
}

#selfblurb > p{
	font-size: 1.5em;
	padding-bottom: 1em;
}

.centre{
	margin: 0 auto;
	display: table;
}

#nav
{
	width: 100%;
	background-color: #FFFFFF;
	height: 30px;
}

#nav > .container > .row
{
	padding-top: 5px;
}

#nav > .container > .row > .col-sm-3 > a
{
	text-transform: uppercase;
	font-weight: bold;
}

#interestareas
{
	padding-top: 100px;
}

#interestareas > .container > .row > .col-sm-2 > div > a {
	text-transform: uppercase;
	font-weight: bold;
	color: #E1FFFF;
}

#interestareas > .container > .row > .col-sm-2 > div > a:hover {
	text-decoration: none;
	color: #539DC2;
}

#interestareas > .container > .row > .col-sm-2 > div {
	border-top: 4px solid #E1FFFF;
}


@media (max-width: 767px){
	#nav{
		height: inherit;
	}

	#interestareas
	{
		padding-top: 10px;
	}
}

@media (min-width: 768px) and (max-width: 992px){

	#selfportrait > img
	{
		width:  240px;
		height: 260px;
		border-radius: 80px;
	}


}